<div class="container my-5" >
  <h1 class="mb-3"> Employees</h1>
  
  <table class="table" *ngIf="employees && employees.length > 0">
    <thead class="thead">
        <th>Id</th>
        <th>name</th>
        <th>email</th>
        <th>phone</th>
        <th>salary</th>
        <th>department</th>
        <th> </th>
    </thead>
   <tbody class="tbody" >
     <tr *ngFor="let emp of employees">  
       
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.phone}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.department}}</td>
        <td><a [routerLink]="['/employee' ,'edit',emp.id]">View</a></td>
    </tr>
   </tbody>
  </table>
  <p *ngIf="!employees || employees.length <=0">No Employee record </p>
</div>
